<%- include("../bread") %>
    <%- include("../aside") %>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-info elevation-1"><i class="fa fa-gear"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">ترافیک Cpu</span>
                                <span class="info-box-number">
                                    10
                                    <small>%</small>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-shopping-cart"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">سفارشات ارسال نشده</span>
                                <span class="info-box-number">
                                    <%= cartLength %>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

                    <!-- fix for small devices only -->
                    <div class="clearfix hidden-md-up"></div>

                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-success elevation-1"><i
                                    class="fa fa-shopping-cart"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">فروش</span>
                                <span class="info-box-number">
                                    <%= sellLength %>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-users"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">اعضای وب سایت</span>
                                <span class="info-box-number">
                                    <%= userLength %>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <div class="col-md-8">
                        <div class="row">
                        </div>
                        <!-- /.row -->

                        <!-- TABLE: LATEST ORDERS -->
                        <div class="card">
                            <div class="card-header border-transparent">
                                <h3 class="card-title">آخرین محصولات اضافه شده</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-widget="remove">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <thead>
                                            <tr>
                                                <th>محصول</th>
                                                <th>وضعیت</th>
                                                <th>محبوبیت</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (let product of products){%>
                                                <tr>
                                                    <td>
                                                        <%= product.title %>
                                                    </td>
                                                    <td><span>
                                                            <% if(product.isActive){%>
                                                                <a href="#" class="btn btn-sm btn-success">فعال</a>
                                                                <%}else {%>
                                                                    <a href="#" class="btn btn-sm btn-danger">غیر
                                                                        فعال</a>
                                                                    <%}%>
                                                        </span></td>
                                                    <td>
                                                        <div class="sparkbar" data-color="#00a65a" data-height="20">
                                                            <%= product.view %>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <%}%>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                                <div class="row">
                                    <div class="col-12 ">
                                        <div class="description-block ">
                                            <span class="description-percentage text-success"><i
                                                    class="fa fa-caret-up"></i>
                                                <h5 class="description-header">تومان <%= separate(sell) %>
                                                </h5>
                                            </span>

                                            </h5>
                                            <span class="description-text">کل فروش وب سایت</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                </div>
                                <a href="/admin/createProduct" class="btn btn-sm btn-info float-left">ساخت محصول
                                    جدید</a>
                                <a href="/admin/getAllProduct" class="btn btn-sm btn-secondary float-right">مشاهده
                                    همه
                                    محصولات</a>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->

                    <div class="col-md-4">
                        <!-- PRODUCT LIST -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">بلاگ های تازه اضافه شده</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-widget="remove">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <ul class="products-list product-list-in-card pl-2 pr-2">
                                    <% for (blog of blogs ) {%>
                                        <li class="item">
                                            <div class="product-img">
                                                <img src="/uploads/images/blog/<%= blog.image %>" alt="Product Image"
                                                    class="img-size-50">
                                            </div>
                                            <div class="product-info">
                                                <a href="/blog/<%= blog.slug %>" class="product-title">
                                                    <%= blog.title %>
                                                </a>
                                            </div>
                                        </li>
                                        <!-- /.item -->
                                        <%}%>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer text-center">
                                <a href="/admin/getAllBlogs" class="uppercase">نمایش همه بلاگ ها</a>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                        <!-- PRODUCT LIST -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">نظرات تازه ثبت شده</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-widget="remove">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <ul class="products-list product-list-in-card pl-2 pr-2">
                                    <% for (comment of comments ) {%>
                                        <li class="item">
                                            <div class="product-img">
                                            </div>
                                            <div class="product-info">
                                                <p>
                                                    <%= truncate( comment.text , 60) %>
                                                </p>
                                            </div>
                                        </li>
                                        <!-- /.item -->
                                        <%}%>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer text-center">
                                <a href="/admin/getAllComments" class="uppercase">نمایش همه نظرات ها</a>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!--/. container-fluid -->
        </section>
        <!-- /.content -->