<%- include("../bread") %>
  <%- include("../aside") %>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="callout callout-info">
              <h5><i class="fa fa-info"></i> نکته :</h5>
              از بخش ویژگی ها میتوانید ویژگی های محصول را اضافه کنید
            </div>


            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fa fa-globe"></i>
                    <small class="float-left">ایجاد شده در تاریخ : <%= jalaliMoment(order.createdAt)%></small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info my-5">
                <div class="col-sm-4 invoice-col">

                  <address>
                    <strong>
                      سفارش ثبت شده توسط : <%= order.user.fullname %>
                    </strong><br>
                  </address>
                  <address>
                    <strong>
                      آدرس سفارش دهنده: <%= order.user.address%>
                    </strong><br>
                  </address>
                  <address>
                </div>
                <!-- /.col -->


                <div class="col-sm-4 invoice-col">
                  <address>
                    <strong>
                      شماره تماس سفارش دهنده: <%= order.user.mobile %>
                    </strong><br>
                  </address>
                </div>
                <!-- /.col -->

              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>عکس</th>
                      <th>رنگ</th>
                      <th>تعداد</th>
                      <th>قیمت</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let item of order.products) {%>
                      <tr>
                        <td>
                          <img width="50" height="50" src="/uploads/images/products/<%= item.image %>" alt="">
                        </td>
                        <td>
                          <div class="p-2" style="background-color: <%= item.color %>">
                          </div>
                        </td>
                        <td>
                          <%= item.count %> عدد
                        </td>
                        <td>
                          <%= separate(item.price) %>
                          تومان
                        </td>
                      </tr>
                      <%}%>
                  </tbody>
                </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>