<%- include("../bread") %>
    <%- include("../aside") %>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="callout callout-info">
                            <h5><i class="fa fa-info"></i> نکته :</h5>
                            از بخش ویژگی ها میتوانید ویژگی های محصول را اضافه کنید
                        </div>


                        <!-- Main content -->
                        <div class="invoice p-3 mb-3">
                            <!-- title row -->
                            <div class="row">
                                <div class="col-12">
                                    <h4>
                                        <i class="fa fa-globe"></i>
                                        <%= product.title %>
                                            <small class="float-left">ایجاد شده در تاریخ : <%=
                                                    jalaliMoment(product.createdAt)%></small>
                                    </h4>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- info row -->
                            <div class="row invoice-info my-5">
                                <div class="col-sm-4 invoice-col">

                                    <address>
                                        <strong>
                                            ساخته شده توسط : <%= product.user.fullname %>
                                        </strong><br>
                                    </address>
                                    <address>
                                        <strong>
                                            نام محصول: <%= product.title%>
                                        </strong><br>
                                    </address>
                                    <address>
                                        <strong>
                                            وضعیت:
                                            <% if(product.isActive){%>
                                                <a href="/admin/isActive/<%= product._id %>"
                                                    class="btn btn-sm btn-success">فعال</a>
                                                <%}else {%>
                                                    <a href="/admin/isActive/<%= product._id %>"
                                                        class="btn btn-sm btn-danger">غیر فعال</a>
                                                    <%}%>
                                        </strong><br>
                                    </address>
                                </div>
                                <!-- /.col -->


                                <div class="col-sm-4 invoice-col">

                                    <address>
                                        <strong>
                                            تعداد بازدید: <%= product.view %>
                                        </strong><br>
                                    </address>
                                    <address>
                                        <strong>
                                            دسته بندی : <%= product.categories %>
                                        </strong><br>
                                    </address>
                                    <address>
                                        <strong>
                                            برند: <%= product.brand %>
                                        </strong><br>
                                    </address>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 invoice-col">

                                    <address>
                                        <strong>
                                            قیمت: <%= product.price %>
                                        </strong><br>
                                    </address>
                                    <address>
                                        <img width="100" height="100" src="/uploads/images/products/<%= product.image[0] %>" alt="">
                                    </address>
                                </div>
                            </div>
                            <!-- /.row -->

                            <!-- Table row -->
                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <a href="/admin/createAtrr/<%= product._id %>" class="btn btn-secondary my-2">ایجاد
                                        ویژگی جدید</a>
                                    <%- include("../../includes/message") %>
                                        <%- include("../../includes/alert") %>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>رنگ</th>
                                                        <th>موجودی</th>
                                                        <th>قیمت</th>
                                                        <th>قیمت تخفیف</th>
                                                        <th>عملیات</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for (let attribute of attributes) {%>
                                                        <tr>
                                                            <td>
                                                                <div class="p-2"
                                                                    style="background-color: <%= attribute.color %>">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <%= attribute.count %> عدد
                                                            </td>
                                                            <td>
                                                                <%= attribute.price %>
                                                            </td>
                                                            <td>
                                                                <% if(attribute.offerPrice !==null ) {%>
                                                                    <%= attribute.offerPrice %>
                                                                        <%}else{%>
                                                                            تخفیف ندارد
                                                                            <%}%>
                                                            </td>
                                                            <td><a href="/admin/delAtrr/<%= attribute._id %>"
                                                                    class="btn btn-danger">حذف</a>
                                                                <a href="/admin/editAtrr/<%= attribute._id %>"
                                                                    class="btn btn-warning text-white">ویرایش</a>
                                                            </td>
                                                        </tr>
                                                        <%}%>
                                                </tbody>
                                            </table>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.invoice -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>